allow gmscore_app traced:unix_stream_socket connectto;
allow gmscore_app traced_producer_socket:sock_file { read write open getattr };

allow gmscore_app system_data_file:file r_file_perms;

set_prop(gmscore_app, system_prop)
